<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="Content-father">
        <div class="profile">
            <section class="img">
                <img src="/images/maria.jpg" alt="yo">
            </section>
            <br>
            <p class="color-title">CONTACTAME</p>
            <section class="details">
                <br>
                <section class="contact">
                    <div class="phone-content">
                        <img src="/images/phone.svg" alt="phone" class="phone">
                        <p>+0412-2897639</p>
                    </div>
                    <div class="email-content">
                        <img src="/images/email-14-svgrepo-com.svg" alt="email" class="email">
                        <p>mariagabrielanodejs@gmail.com</p>
                    </div>
                    <div class="gps-content">
                        <img src="/images/gps-svgrepo-com.svg" alt="gps" class="gps">
                        <p>San Juan de los Morros, Guarico</p>
                    </div>
                </section>
                <br>
                <div class="hr">
                    <hr>
                </div>
                <br>
                <p class="color-title">HABILIDADES</p>
                <br>
                <div class="skills">
                    <div class="html">
                        <p>HTML</p>
                        <div class="bar bar-html"></div>
                    </div>
                    <div class="html">
                        <p>CSS</p>
                        <div class="bar bar-css"></div>
                    </div>
                    <div class="html">
                        <p>JAVASCRIPT</p>
                        <div class="bar bar-js"></div>
                    </div>
                </div>
                <br>
                <div class="hr">
                    <hr>
                </div>
                <br>
                <p class="color-title">LENGUAJE</p>
                <br>
                <div class="skills">
                    <div class="html">
                        <p>Español</p>
                        <div class="bar bar-spanish"></div>
                    </div>
                </div>
            </section>


        </div>
        <div class="about-me">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#0099ff" fill-opacity="1"
                    d="M0,192L60,186.7C120,181,240,171,360,181.3C480,192,600,224,720,234.7C840,245,960,235,1080,202.7C1200,171,1320,117,1380,90.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
                </path>
            </svg>
            <h1>MARIA GABRIELA</h1>
            <div class="content">
                <div class="profile__info">
                    <div class="personal__info">
                        <img src="/images/user.svg" alt="Usuario">
                        <p>PERFIL</p>
                    </div>
                    <br>
                    <p><b>Cédula de Identidad:</b> V-29.858.353</p>
                    <p><b>Fecha de Nacimiento:</b> 02 de Septiembre del 2002</p>
                    <p><b>Edad:</b> 21 años</p>
                    <p><b>Nacionalidad:</b> Venezolana</p>
                </div>
                <div class="profile__info exp">
                    <div class="personal__info experiencia">
                        <img src="/images/computer.svg" alt="Usuario">
                        <p>EXPERIENCIA</p>
                    </div>
                    <br>
                    <p class="font"><span>Abasto</span> y Licoreria el Guafal</p>
                    <p><b>2019 - 2020</b></p>
                    <br>
                    <p class="font"><span>Institución</span> Nacional de Estadísticas(INE) </p>
                    <p class="year"><b>2020 - ACTUALMENTE TRABAJANDO</b></p>

                </div>
                <div class="profile__info"> 
                    <div class="personal__info educacion">
                        <img src="/images/student.svg" alt="Usuario">
                        <p>EDUCACIÓN</p>
                    </div>
                    <br>
                    <p class="font"><span>Colegio Gabriela Mistral</span></p>
                    <p class="year"><b>KINDER / PRIMARIA / SECUNDARIA / BACHILLERATO </b></p>
                    <br>
                    <p class="font"><span>U.E.N "ROMULO GALLEGOS"</span></p>
                    <p class="year"><b>2021 - ACTUALMENTE</b></p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="svg_wave">
                <path fill="#0099ff" fill-opacity="1"
                    d="M0,256L80,213.3C160,171,320,85,480,90.7C640,96,800,192,960,224C1120,256,1280,224,1360,208L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                </path>
            </svg>
        </div>
    </div>
    
        <img src="/images/planet.png" alt="planeta" class="astronauta">
        <img src="/images/planet.png" alt="planeta" class="astronauta_two">
    
</body>

</html>